<mat-card-content>
  <form [formGroup]="inputUserData" (ngSubmit)="onLogin()">
    <mat-form-field>
      <input
        matInput
        name="email"
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <mat-error
        *ngIf="email && email.hasError('email') && !email.hasError('required')"
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email && email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="password && password.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="password && password.hasError('minlength')">
        Password must be of length 6
      </mat-error>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button
      type="submit"
      [disabled]="isAbleSubmit || isSubmitted"
      mat-raised-button
      color="primary"
      class="login-button"
    >
      Sign In
    </button>
  </form>
</mat-card-content>
